{% if product.metafields.bold_donation.donation_key == 1 %}
	<div class="da_div">
     
    </div>
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

	<link rel="stylesheet" type="text/css" href="https://da.boldapps.net/app_assets/css/donation_styles.css">
	<script src="https://da.boldapps.net/assets_embed/js/bootstrap.min.js"></script>

	<a class="btn btn-shopify small" id="customButton" data-toggle="modal" data-target="#myModal" >Make Donation!</a>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Donation</h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary donation_btn" onclick="$('#payment-form').submit();">Create</button>
                    </div>
                </div>
            </div>
     </div>

	<script async  src="https://da.boldapps.net/donations/generate_donation?product_id={{ product.id }}&shop_url={{ shop.permanent_domain }}"></script>
	
	
{% endif %}
